name: movetrap
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.2.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.5
  awesome_snackbar_content: ^0.1.3
  sign_in_button: ^3.2.0
  font_awesome_flutter: ^10.6.0
  persistent_bottom_nav_bar_v2: ^6.2.0
  cupertino_icons: ^1.0.2
  fl_chart: ^0.65.0
  image_picker: ^1.2.0
  get_storage: ^2.1.1
  flutter_rating_bar: ^4.0.1
 
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_launcher_icons: ^0.14.4


flutter_launcher_icons:
  android: true
  ios: true
  image_path: "images/logo.png"
  min_sdk_android: 21
  background_color: "#ffffff"  # White background

flutter:
  uses-material-design: true

  assets:
    - images/

  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700
